@media (max-width: 1623px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 12rem);
        width: auto;
        height: auto;
        padding: 1rem;
        margin: 2rem;
    }

    .container__image:nth-of-type(1), .container__image:nth-of-type(2),
    .container__image:nth-of-type(3), .container__image:nth-of-type(4),
    .container__image:nth-of-type(5), .container__image:nth-of-type(6),
    .container__image:nth-of-type(7), .container__image:nth-of-type(8) {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media (max-width: 999px) {
    .container {
        grid-template-columns: minmax(12rem, 1fr);
        grid-template-rows: repeat(8, 12rem);
    }

    .container__image:nth-of-type(1), .container__image:nth-of-type(2),
    .container__image:nth-of-type(3), .container__image:nth-of-type(4),
    .container__image:nth-of-type(5), .container__image:nth-of-type(6),
    .container__image:nth-of-type(7), .container__image:nth-of-type(8) {
        grid-column: 1;
    }

    .container__image:nth-of-type(1) {
        grid-row: 1;
    }

    .container__image:nth-of-type(2) {
        grid-row: 2;
    }

    .container__image:nth-of-type(3) {
        grid-row: 3;
    }

    .container__image:nth-of-type(4) {
        grid-row: 4;
    }

    .container__image:nth-of-type(5) {
        grid-row: 5;
    }

    .container__image:nth-of-type(6) {
        grid-row: 6;
    }

    .container__image:nth-of-type(7) {
        grid-row: 7;
    }

    .container__image:nth-of-type(8) {
        grid-row: 8;
    }
}