* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.bg__img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    filter: blur(.33rem) opacity(.66);
}

.container {
    width: 1600px;
    height: 100vh;
    margin: 0 auto;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
}

.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(.88) grayscale(33%);
    transition: .2s;
    border: 1px solid rgba(255, 255, 255, .33);
}

.container__image:hover {
    filter: opacity(1) grayscale(0%) brightness(1.25);
    transform: scale(1.01);
    cursor: pointer;
}

@keyframes bg-animation {
    from {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}